*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 00, 20);
    user-select: none;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    height: 6em;
    width: 70%;
    margin: auto;
    border-bottom: 3px solid rgb(28, 00, 34);
}
h1{
    font-weight: 860;   
}

#squares{
    padding-top: 7em;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    justify-content: center;
}

.square{
    width: 10rem;  /* unidades rem utilizando em al dar medida al texto se me va todo la medida */
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: rgb(28, 00, 34);
    font-weight: bold;
}

.top{
    border-bottom: 0.4rem solid rgb(28, 00, 34);
}
.middel{
    border-left: 0.4rem solid rgb(28, 00, 34);
    border-right: 0.4rem solid rgb(28, 00, 34);
}
.bottom{
    border-top: 0.4rem solid rgb(28, 00, 34);
}
